// COLORS
$bg-gray: #EDF3FE;

$text-black: #353945;
$text-gray: #808799;
$red: #FF4769;

$pink: #5f43c1;

$green-dark: #289000;
$green-dark-cold: #0AA06E;
$green: #55BB00;

$yellow: #FEDD2C;
$yellow-light: #FDFA9B;