@font-face {
    font-family: "Helvetica";
    src: url(HelveticaNeueCyr-Thin.woff) format('woff');
    font-display: swap;
    font-weight: 100;
}
@font-face {
    font-family: "Helvetica";
    src: url(HelveticaNeueCyr-Light.woff) format('woff');
    font-display: swap;
    font-weight: 300;
}
@font-face {
    font-family: "Helvetica";
    src: url(HelveticaNeueCyr-Roman.woff) format('woff');
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: "Helvetica";
    src: url(HelveticaNeueCyr-Medium.woff) format('woff');
    font-display: swap;
    font-weight: 500;
}
@font-face {
    font-family: "Helvetica";
    src: url(HelveticaNeueCyr-Bold.woff) format('woff');
    font-display: swap;
    font-weight: bold;
}
